<%= error_messages_for 'blogpost' %>

<!--[form:blogpost]-->
<p><label for="blogpost_title">Title</label><br/>
<%= text_field 'blogpost', 'title'  %></p>

<p><label for="blogpost_body">Body</label><br/>
<%= text_area 'blogpost', 'body_raw'  %></p>

<!--[eoform:blogpost]-->

