<div class="news" name=<%= ["entry",entry.id] %> >
<h2><%= entry.title %></h2>

<%= textilize(entry.body) %>

<p><font size="small">Posted at <%= entry.posted %> by <%= entry.user %></font></p>

</div>
