<div id="theme">
<center><h2> Styles for theme <%= @theme %> </h2></center>
<div id="theme_styles">
<%= render :partial => "edit_style", :collection => @theme_styles %>
</div>
<form action="" method="">
<input type="TEXT" name="new_element" size="10" id="new_element">
<input type="BUTTON" value="Add Element" name="Add Element"
onClick="new Insertion.Bottom('theme_styles', insertStyle(Form.Element.getValue('new_element')));Element.remove('save result')">
</form>
</div>