<% themes = Style.find(:all, :select => 'theme', :conditions => ['user=-1'], :group => 'theme').collect { |s| [s.theme, s.theme] } %>
<% themes.each do |theme| %>
<link rel="stylesheet" type="text/css" href="http://playground.pele.cx/style/show/?theme=<%= theme[0] %>" title="<%= theme[0] %>" />
<% end %>