# Ignore emacs tmp and backup files
*~
*\#*

# Ignore log directory
log/
# Ignore database.yml
config/database.yml

# Ignore eclipse files
.loadpath
.project
.settings/

#ignore text files
text_files/*

#ignore temp files
tmp/

