<div class="userinfo">
        <%= partial :logged_in if @authinfo[:user] and @authinfo[:user] != "Anonymous"%>
        <%= partial :login unless @authinfo[:user] and @authinfo[:user] != "Anonymous" %>
</div>
