<div id="new">
<%= start_form_tag :action => 'permissions_modify' %>
Name: <input type="text" name="permission_holder">
Type: <select name="type"><option value="user">User</option><option value="group">Group</option></select>
Permission: <select name="permission"><option value="blogger">Blogger</option><option value="admin">Administrator</option></select>
<input type="submit" value="Add Permission">
</form>
</div>
