<%= error_messages_for 'pcomment' %>

<!--[form:pcomments]-->
<p><label for="pcomment_body">Comment:</label><br/>
<%= text_area 'pcomment', 'body_raw', "rows" => 5   %></p>

<%= hidden_field "pcomment", "paragraph_id" %>
<!--[eoform:pcomments]-->
