<%= render :partial => 'chapters/pcomm', :collection => Pcomment.listForPara(@pcomment.paragraph_id) %>
<%= form_remote_tag :update => "comments#{@pcomment.paragraph_id}", :url => {:controller => 'comments', :action => 'create' } %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>
