<h1>Comment on <%= @pcomment.paragraph.chapter.story.title %> Chapter <%= @pcomment.paragraph.chapter.number %> </h1>

<p> Paragraph: </p>
<div class="parabody">
    <%= our_markdown(@pcomment.paragraph.body) %>
</div>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
