<% for column in Pcomment.content_columns %>
<p>
<% logger.debug "\n\n\n\n***DEBUG: #{pp_s column.name}\n\n\n\n" %>
  <b><%= column.human_name %>:</b> <%=h @pcomments.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pcomments %> |
<%= link_to 'Back', :action => 'list' %>
