<% for column in Pcomment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pcomments.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', "/pcomments/edit/#{@pcomments.id}" %> |
<%= link_to 'Back', '/pcomments/list' %>
