<div id="<%= "show_#{show_style.element}_div" %>">
<p>
<%= form_for show_style, remote_form_attrs(:update => "show_#{show_style.element}_div", :url => "/styles/save_style") do %>
Element:
<input type="text" id="show_style_element" name="show_style[element]" value="<%= show_style.element %>"  disabled= "true">
Style:
<input type="text" id="show_style_definition" name="show_style[definition]" value="<%= show_style.definition %>"  disabled= "true">
<% end =%>
</p>
</div>
