<div id="defaults">

<center><h2> Default styles for theme <%= @theme %> </h2></center>
<% partial :show_style, :with => @default_styles %>
</div>
<div id="users">
<center><h2> User styles for theme <%= @theme %> </h2></center>
<% partial :edit_style, :with => @user_styles %>
</div>
