<div>
<% themes = Style.find(:all, :select => 'theme', :conditions => ['user=-1'], :group => 'theme').collect { |s| [s.theme, s.theme] } %>
<form action => "">
<select id="styleselect" onchange="setActiveStyleSheet(Form.Element.getValue('styleselect'));">
<% themes.each do |theme| -%>
<option><%= theme %></option>
<% end %>
</select>
</form>
</div>
