<%= link_to "(Edit)", :controller => 'chapters', :action => 'edit', :id => chapter.id %>
<%= link_to "(Show)", chapter_url(:chapter => chapter) %>
Part <%= chapter.number %>
(<%= chapter.date %>)
WC: <%= chapter.words %><br/>
