<%= error_messages_for 'chapter' %>

<!--[form:chapter]-->
<p><%= text_field :number, :label => "Chapter number" %></p>

<p><%= file_field :name => :file, :label => "File" %></p>

<!--[eoform:chapter]-->

