<% if @authinfo[:user_id] and User.find(@authinfo[:user_id]).has_story_permission(@story,'author') %>
<p>Are you <b>SURE</b> you want to delete <font size="+2+"><%= @story.title %></font>?</p>
<%= start_form_tag :action => 'destroy' %>
	<input type="hidden" name="id" value="<%= @story.id %>" >
<%= submit_tag "Yes" %>
<%= end_form_tag %>

<%= start_form_tag :action => 'list' %>
  <%= submit_tag "No" %>
<%= end_form_tag %>

<% else %>

<p>You are not allowed to delete this story.</p>

<% end %>
