<h1>Editing story</h1>

<%= start_form_tag :action => 'update', :id => @story %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show Story', :action => 'show', :id => @story %> |
<%= link_to 'Story List', :action => 'list' %>
