<h1>New chapter</h1>

<%= start_form_tag( {:action => 'create'}, :multipart => true) %>
  <%= render :partial => 'new_chapter_form' %>
  <%= submit_tag "Create Chapter" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
