<h1>New chapter</h1>

<% form_tag( {:action => 'create', :id => @story.id}, :multipart => true) do -%>
  <%= render :partial => 'new_chapter_form' %>
  <%= submit_tag "Create Chapter" %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
