<%= error_messages_for 'universe' %>

<!--[form:universe]-->
<p><label for="universe_universe">Universe</label><br/>
<%= text_field 'universe', 'universe'  %></p>

<p><label for="universe_description">Description</label><br/>
<%= text_area 'universe', 'description'  %></p>
<!--[eoform:universe]-->

