<% inactive_tag = "(Not Active)" if story.chapters.empty? %>
<div>
  <li><h4><%= link_to story.title, :controller => "stories", :action => "show", :id => story %> <%= inactive_tag %></h4>
  <p><b>Keywords:</b><%= story.keywords %></p>
  <%= our_markdown(story.description) %>
  </li>
</div>
