<div class="worldlist">
  <u><%= storylist.name -%></u>
  <ul>
    <% Story.OrderedListByUniverse(storylist.id).each do |story| -%>
      <% can_comment = false %>
      <% can_comment = true if @authinfo[:user] && ( @authinfo[:user].has_story_permission(story,'author') || @authinfo[:user].has_story_permission(story,'beta-reader') ) %>
      <% cache "story_list#{story.id}#{can_comment}", :expire_in => 24.hours do %>
        <li><a href="<%=index_url(StoryHost(story)) %>"><%= story.title %></a>
          <% if can_comment -%>
            <% newest_chapter = story.chapters.find(:first, :order => "number DESC" ) -%>
          <% else -%>
            <% newest_chapter = story.chapters.find(:first, :order => "number DESC", :conditions => "status = 'released'" ) -%>
          <% end -%>
          <% if newest_chapter and Date.today - newest_chapter.date  < 7 %><em>UPDATED!</em><% end -%>
        </li>
      <% end -%>
    <% end -%>
  </ul>
</div>
