<h1>Universes</h1>
<ul>
<%= partial :universe_wstories, :with => @universes -%>
</ul>
<br />
<% if @authinfo[:user] and @authinfo[:user].has_site_permission('admin') -%>
<%= link_to 'New universe', "/site/new_universe" -%>
<% end -%>
