<h1>Universes</h1>

<%= render :partial => "universe_wstories", :collection => @universes %>

<br />

<% if @authinfo[:user] and @authinfo[:user].has_site_permission('admin') %>
<%= link_to 'New universe', :controller => 'site', :action => 'new_universe' %>
<% end %>