<h1>New universe</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create Universe" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
