<h1>New story</h1>

<% form_tag :action => 'create_story'  do -%>
  <%= render :partial => 'stories/form' -%>
  <%= submit_tag "Create New Story" -%>
<% end -%>

<%= link_to 'Back', :action => 'show', :id => @universe.id -%>
