<% for column in Paragraph.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @paragraphs.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @paragraphs %> |
<%= link_to 'Back', :action => 'list' %>
