<%= link_to 'Home', index_url(:host => StoryHost('playground')) %>
&gt; <%= universe_link =  link_to @chapter.story.universe.name, url_for( :host => StoryHost('playground'), :controller => 'universes', :action => 'show', :id => @chapter.story.universe.id) %>
&gt; <%= link_to @chapter.story.title, index_url(:host => StoryHost(@chapter.story.id)) %>
<% unless params[:action] =~ /list/ %>
&gt; Chapter <%= @chapter.number %>
<% end %>

