<div class="paragraph">
  <a id="<%= ["p",para.id] %>"></a>
  <div class="parabody" id="<%= ["parabody",para.id] %>">
	  <%= render :partial => 'parabody', :object => para %>
  </div>
  <!-- end parabody -->
  <% if params[:action] == 'show_draft' %>
	<div class="comments  <%= denotation_class %>" id="comment_block_<%= para.id %>" >

	  <%= render :partial => 'comment_block', :locals => { :para => para } %>

	</div>
	<!-- end comments -->

  <% end %>
</div>
<!-- end paragraph -->
