<% benchmark "QQQ: para_body_retrieve" do %>
<% @body = parabody.body %>
<% end %>
<% benchmark "QQQ: para_body_markdown" do %>
<% cache(:action => "show", :action_suffix => "paragraph_#{parabody.id}") do %>
	<%= our_markdown(@body) %>
<% end %>
<% end %>