<h1>Editing chapter</h1>

<%= start_form_tag :action => 'update', :id => @chapter.id %>
  <p><label for="chapter_status">Status</label><br/>
  <%= select "chapter", "status", [ ["Draft","draft"], ["Released", "released"] ] %>

  <p><label for="file">File</label><br/>
  <%= file_field_tag "file" %>

  <%= submit_tag "Update Chapter" %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @chapter %> |
<%= link_to 'Back', :action => 'list' %>
