<h1>Listing chapters</h1>

<p>
<% for chapter in @chapters -%>
  <%= chapter.story.title -%>
  <%= link_to ["Chapter ", chapter.number], "/chapters/show/#{chapter.id}" -%>
  (<%= chapter.words %>)
  <br/>
<% end -%>
</p>
