<div><%= edit_link(@chapter) %></div>

<h1><%= @chapter.story.title %> Chapter <%= @chapter.number %></h1>

<%= chapter_navigation(@chapter) %>
<div class="full">
<%= render :partial => "para", :collection => @chapter.paragraphs %>
<div class="paragraph">
<%= chapter_navigation(@chapter) %>
</div>
</div>