<h1>New universe</h1>

<%= form_for @universe, :action => '/site/create_universe' do -%>
  <%= partial 'universes/form', :with => @universe %>
  <%= submit_tag "Create Universe" %>
<% end =%>

<%= link_to 'Back', index_url(:host => StoryHost('playground')) %>
