<h1>New universe</h1>

<%form_tag :action => 'create_universe' do -%>
  <%= render :partial => 'universes/form' %>
  <%= submit_tag "Create Universe" %>
<% end -%>

<%= link_to 'Back', index_url(:host => StoryHost('playground')) %>
