<h1>Editing paragraphs</h1>

<%= start_form_tag :action => 'update', :id => @paragraphs %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<hr/>

<h2>Comments</h2>

<%= render :partial => 'chapters/pcomm', :collection => Pcomment.listForPara(@paragraphs.id) %>
