<% for column in Paragraph.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @paragraphs.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', "/paragraphs/edit/#{@paragraphs.id}" %> |
<%= link_to 'Back', '/paragraphs/list' %>
