<html>
<head>
  <title>Blogposts: <%= controller.action_name %></title>
  <link rel="stylesheet" type="text/css" href="http://playground.pele.cx:3000/style/show/1" title="default" />
</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
