<html>
<head>
  <% if @chapter %>
  <title><%= @title %></title>
  <% end %>
  <link rel="stylesheet" type="text/css" href="http://playground.pele.cx:3000/style/show/" title="default" />

  <%= javascript_include_tag "prototype" %>

</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<%= render :partial => "breadcrumbs" %>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
