<html>
<head>
  <% if @chapter %>
  <title><%= @title %></title>
  <% end %>
  <%= javascript_include_tag "prototype" %>
  <%= render_component(:controller => 'style', :action => 'style_links') %>
  <script type="text/javascript" src="http://playground.pele.cx/includes/styleswitcher.js"></script>

	<script type="text/javascript">
		function denote_comments(para_id) {
			var element = document.getElementById("comment_block_"+para_id);
			var total_comments = Form.Element.getValue("comment_count_"+para_id);
			var unread_comments = Form.Element.getValue("unread_comment_count_"+para_id);
			if (unread_comments > 0) {
				Element.addClassName(element,"unread_comments");
			} elsif (total_comments > 0) {
				Element.addClassName(element,"unread_comments");
			}		
		}
	</script>

  <%= javascript_include_tag "prototype" %>

</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<%= render_component(:controller => 'style', :action => 'style_dropdown') %>
<%= render :partial => "breadcrumbs" %>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
