<html>
<head>
  <% if @chapter %>
  <title><%= @title %></title>
  <% end %>
  <%= javascript_include_tag "prototype" %>
  <%= render_component(:controller => 'style', :action => 'style_links') %>
  <script type="text/javascript" src="http://playground.pele.cx/includes/styleswitcher.js"></script>

  <%= javascript_include_tag "prototype" %>

</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<%= render_component(:controller => 'style', :action => 'style_dropdown') %>
<%= render :partial => "breadcrumbs" %>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
