<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http//www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Months: <%= controller.action_name %></title>
  <link rel="stylesheet" type="text/css" href="http://playground.pele.cx:3000/style/show/1" title="default" />
</head>
<body>

<p style="color: red"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
