<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http//www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>Paragraphs: <%= controller.action_name %></title>
<%= javascript_include_tag "prototype" %>
  <%= render_component(:controller => 'style', :action => 'style_links') %>
  <script type="text/javascript" src="http://playground.pele.cx/includes/styleswitcher.js"></script>
	<script type="text/javascript">
		function confirmSubmit() {
			var agree=confirm("Are you sure you wish to continue?");
			if (agree)
				return true ;
			else
				return false ;
		}
	</script>
</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<%= render_component(:controller => 'style', :action => 'style_dropdown') %>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
