<html>
<head>
  <title>Welcome to Pele's Playground!</title>
  <%= stylesheet_link_tag 'mod' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
