<html>
<head>
  <title><% if controller.action_name =~ /list|index/ %>
  Story List
  <% else %>
  <%= @story.title %>
  <% end %>
  </title>
  <%= javascript_include_tag "prototype" %>
  <%= render_component(:controller => 'style', :action => 'style_links') %>
  <script type="text/javascript" src="http://playground.pele.cx/includes/styleswitcher.js"></script>
</head>
<body>
<%= render_component(:controller => 'php_session', :action => 'has_session') %>
<%= render_component(:controller => 'style', :action => 'style_dropdown') %>
<%= render :partial => "breadcrumbs" %>



<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
